/* #exercise-3-1-1, #exercise-3-1-1-1 {
    display: flex;
    justify-content: space-between;
}
.exercise-3-1-1-1-0 {
    padding: 10px;
}
#new-users {
    background-color: #849FFF;
    color: white;
} */
#exercise-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px;
    gap: 70px;

    /* position: absolute; */
    width: 1213px;
    height: 830px;
    left: 193px;
    top: 173px;

    background: #FFFFFF;
    border-radius: 16px;
}

#exercise-3-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    width: 1013px;
    height: 128px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#exercise-3-1-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    width: 1013px;
    height: 64px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#exercise-3-1-1-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 534px;
    height: 56px;

    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#reputation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 121px;
    height: 56px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#new-users {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 115px;
    height: 56px;

    background: #849FFF;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#voters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 85px;
    height: 56px;


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

#editors {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 87px;
    height: 56px;


    /* Inside auto layout */

    flex: none;
    order: 3;
    flex-grow: 0;
}

#moderators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 126px;
    height: 56px;


    /* Inside auto layout */

    flex: none;
    order: 4;
    flex-grow: 0;
}

#users {
    width: 91px;
    height: 40px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 40px;

    /* #151B32 */

    color: #151B32;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#search-users {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
    gap: 8px;

    width: 327px;
    height: 64px;

    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 4px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1013px;
    height: 432px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    margin-top: 100px;
    width: 1013px;
    height: 208px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 1013px;
    height: 208px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-1-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 327px;
    height: 208px;

    background: #FBFCFF;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-2 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 327px;
    height: 208px;

    background: #FBFCFF;
    border: 1px solid #BFC8E6;
    box-shadow: 0px 8px 23px rgba(218, 224, 249, 0.7);
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-1-3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 327px;
    height: 208px;

    background: #FBFCFF;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

#exercise-3-1-2-2-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 327px;
    height: 208px;

    background: #FBFCFF;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-2-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 327px;
    height: 208px;

    background: #FBFCFF;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-2-3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 327px;
    height: 208px;

    background: #FBFCFF;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

#image1 {
    width: 97px;
    height: 97px;

    background: url(image.png);
    border-radius: 50%;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-1-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 125px;
    height: 106px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-1-1-1-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px;
    gap: 4px;

    width: 125px;
    height: 68px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-1-1-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 112px;
    height: 22px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#lelah-nichols {
    width: 125px;
    height: 23px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */


    /* #151B32 */

    color: #151B32;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#troy-mi {
    width: 52px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    /* #151B32 */

    color: #151B32;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-1-1-1-2-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 112px;
    height: 22px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-1-1-2-1-1 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 61px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-1-1-2-1-2 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 47px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#clothes {
    width: 45px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#stem {
    width: 31px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#image2 {
    width: 97px;
    height: 97px;

    background: url(image.png);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    border-radius: 50%;
}

#exercise-3-1-2-1-2-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 131px;
    height: 132px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-1-2-1-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px;
    gap: 4px;

    width: 106px;
    height: 68px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-2-1-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 131px;
    height: 48px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#jesus-weiss {
    width: 106px;
    height: 23px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */


    /* #151B32 */

    color: #151B32;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#forth-worth-tx {
    width: 96px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    /* #151B32 */

    color: #151B32;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-1-2-1-2-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 131px;
    height: 22px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-2-1-2-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 112px;
    height: 22px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-1-2-1-2-1-1 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 66px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-2-1-2-1-2 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 61px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#headset {
    width: 50px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#gadget {
    width: 45px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-2-1-2-2-1 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 54px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-2-1-2-2-2 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 54px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#speed {
    width: 38px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#winter {
    width: 38px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-3 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;

    width: 327px;
    height: 208px;

    background: #FBFCFF;
    border-radius: 16px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

#image3 {
    width: 97px;
    height: 97px;

    background: url(image.png);
    border-radius: 50%;
    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-3-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 166px;
    height: 132px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-1-3-1-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px;
    gap: 4px;

    width: 98px;
    height: 68px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-3-1-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 166px;
    height: 48px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#annie-rice {
    width: 98px;
    height: 23px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */


    /* #151B32 */

    color: #151B32;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#austin-tx {
    width: 67px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    /* #151B32 */

    color: #151B32;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-1-3-1-2-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 166px;
    height: 22px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-3-1-2-1-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 166px;
    height: 22px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-3-1-2-1-1-1 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 45px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-3-1-2-1-1-2 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 76px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-1-3-1-2-1-1-3 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 37px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}

#road {
    width: 29px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#mountain {
    width: 60px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#trip {
    width: 21px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-3-1-2-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 110px;
    height: 22px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-1-3-1-2-2-1 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 49px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-1-3-1-2-2-2 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 57px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#earth {
    width: 33px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#nature {
    width: 41px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#image4 {
    width: 97px;
    height: 97px;
    border-radius: 50%;
    background: url(image.png);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-2-1-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 152px;
    height: 132px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-2-1-1-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px;
    gap: 4px;

    width: 134px;
    height: 68px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-2-1-1-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 152px;
    height: 48px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#robert-brower {
    width: 134px;
    height: 23px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */


    /* #151B32 */

    color: #151B32;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#cincinnati-oh {
    width: 99px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    /* #151B32 */

    color: #151B32;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-2-1-1-2-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 152px;
    height: 22px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-2-1-1-2-2 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 117px;
    height: 22px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-2-1-1-2-1-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 152px;
    height: 22px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-2-1-1-2-1-1-1 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 97px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-2-1-1-2-1-1-2 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 51px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#maintenance {
    width: 81px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#gears {
    width: 35px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-2-1-1-2-2-1 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 60px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-2-1-1-2-2-2 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;

    width: 53px;
    height: 22px;

    background: #FFFFFF;
    /* #BFC8E6 */

    border: 1px solid #BFC8E6;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#frames {
    width: 44px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#repair {
    width: 37px;
    height: 18px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */


    color: #516FD5;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#image5 {
    width: 97px;
    height: 97px;

    background: url(image.png);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#image6 {
    width: 97px;
    height: 97px;

    background: url(image.png);

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-2-2-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 132px;
    height: 106px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-2-3-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 162px;
    height: 106px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#exercise-3-1-2-2-2-1-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px;
    gap: 4px;

    width: 132px;
    height: 68px;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#exercise-3-1-2-2-2-1-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 104px;
    height: 22px;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

#amy-campbell {
    width: 132px;
    height: 23px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */


    /* #151B32 */

    color: #151B32;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

#warrior-al {
    width: 75px;
    height: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */


    /* #151B32 */

    color: #151B32;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}
#exercise-3-1-2-2-3-1-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0px 0px;
    gap: 4px;
    
    width: 162px;
    height: 68px;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
#exercise-3-1-2-2-3-1-2 {
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 129px;
height: 22px;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
#anthony-s-morin {
    width: 162px;
height: 23px;

font-family: 'Merriweather';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 23px;
/* identical to box height */


/* #151B32 */

color: #151B32;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#lyndhurst-nj {
    width: 93px;
height: 21px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */


/* #151B32 */

color: #151B32;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
#exercise-3-1-2-2-2-1-2-1 {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 104px;
height: 22px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#exercise-3-1-2-2-3-1-2-1 {
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 129px;
height: 22px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#exercise-3-1-2-2-2-1-2-1-1 {
    box-sizing: border-box;

    /* Auto layout */
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 8px;
    gap: 10px;
    
    width: 53px;
    height: 22px;
    
    background: #FFFFFF;
    /* #BFC8E6 */
    
    border: 1px solid #BFC8E6;
    border-radius: 10px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
#exercise-3-1-2-2-2-1-2-1-2 {
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 10px;

width: 47px;
height: 22px;

background: #FFFFFF;
/* #BFC8E6 */

border: 1px solid #BFC8E6;
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
#exercise-3-1-2-2-3-1-2-1-1 {
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 10px;

width: 63px;
height: 22px;

background: #FFFFFF;
/* #BFC8E6 */

border: 1px solid #BFC8E6;
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}
#exercise-3-1-2-2-3-1-2-1-2 {
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2px 8px;
gap: 10px;

width: 62px;
height: 22px;

background: #FFFFFF;
/* #BFC8E6 */

border: 1px solid #BFC8E6;
border-radius: 10px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
#music {
    width: 37px;
    height: 18px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #516FD5;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
#disks {
    width: 31px;
    height: 18px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #516FD5;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
#vintage {
    width: 47px;
    height: 18px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #516FD5;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}
#electric {
    width: 46px;
    height: 18px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    
    
    color: #516FD5;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}