* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.some-text {
    font-size: 30px;
}

.block .some-text {
    font-size: 10px;
}

.block,
.some-text {
    font-size: 20px;
}

.my-box1 {
    position: relative;
    /* top: 30px;
    left: 30px;
    box-sizing: border-box; */
    width: 500px;
    height: 200px;
    background-color: aqua;
    border: 3px solid rgb(20, 212, 212);
    /* padding: 30px; */
    /* z-index: 20; */
    padding: 20px;
    margin: 100px;
}

.my-box0 {
    position: relative;
    /* top: 30px;
    left: 30px;
    box-sizing: border-box; */
    width: 200px;
    height: 400px;
    background-color: aqua;
    border: 3px solid rgb(20, 212, 212);
    /* padding: 30px; */
    /* z-index: 20; */
    padding: 20px;
    margin: 100px;
}

.my-box0 .my-box3 {
    position: relative;
    /* top: 30px;
    left: 30px;
    box-sizing: border-box; */
    width: 150px;
    height: 50px;
    background-color: rgb(255, 255, 125);
    border: 3px solid yellow;
    /* padding: 30px; */
    /* z-index: 20; */
    padding: 14px;
    margin-bottom: 13px;
    text-align: center;
}

.my-box1 .my-box2 {
    background-color: red;
    padding: 15px;
    border: 3px solid rgb(192, 22, 22);
    margin-bottom: 15px;
    /* text-align: center; */
}

.go-to-top {
    width: 250px;
    height: 50px;
    background-color: aqua;
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 15px 55px;
}

.nav-bar {
    width: 100%;
    height: 50px;
    background-color: blue;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    margin-bottom: 100px;
    padding: 10px;
    text-align: center;
}

#box1 {
    margin-top: 100px;
    background-color: green;
    height: 400px;
    width: 400px;
    border: 3px solid red;
    padding: 50px;
}

#box2 {
    margin-top: 100px;
    background-color: yellow;
    height: 400px;
    width: 400px;
    padding: 20px 30px;
}

#keep {
    background-color: blue;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
}

.button {
    transition: all 1s linear;
}

#delete:hover {
    background-color: yellow;
    color: black;
}

#delete {
    background-color: rgb(237, 69, 97);
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    margin-right: 10px;
}

.paragraph {
    text-align: center;
}

#final-box {
    margin-bottom: 100px;
}

#container {
    border: 1px solid blue;
    max-width: 1000px;
    margin: 200px auto;
    padding: 20px;
    background-color: aqua;
}

#container .text {
    border: 1px solid red;
    padding: 10px;
    background: rgb(203, 160, 160);
}

#container .button-groups {
    margin-top: 10px;
    position: relative;
    /* transform: scale(0.5); */
}

button {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
}

.delete {
    background-color: pink;
    transition: all 0.5s linear;
}

.keep {
    background-color: green;
    color: white;
    transition: all 0.5s linear;
}

.keep:hover {
    background-color: red;
    padding: 20px 40px;
}

.box {
    position: absolute;
    background-color: green;
    width: 200px;
    padding: 10px;
    top: -200px;
    display: block;
    opacity: 0;
    transition: all 0.5s linear;
    transform: scale(0);
    /* transform-origin: bottom; */
}

.delete:hover~.box {
    opacity: 1;
    transform: scale(1);
}

.delete:hover {
    background-color: red;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    border-top: 20px solid green;
    left: 20%;
    top: 100%;
}