* {
    font-family: 'Roboto', sans-serif;
}

#d {
    margin-bottom: 100px;
}

.text,
.black {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

i {
    color: gray;
}

#content {
    height: 80%;
    width: 80%;
    margin: auto;
    text-align: justify;
}

img {
    height: 400px;
    width: 300px;
    margin-bottom: 16px;
}

.picture {
    padding: 32px 0;
    margin: 0 64px;
}

.black {
    background-color: black;

}

#a {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px; */
    display: flex;
    justify-content: center;
}

#c {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 60px;
}

#heading {
    padding-top: 50px;
}

h2 {
    color: white;
}

.white {
    background-color: white;
    width: 80%;
    margin-top: 20px;
}

.b {
    margin-bottom: 80px;
    background-color: white;
    margin-top: 20px;
    text-align: left;
    width: 300px;
    
}

.e {
    padding: 0 16px;
}

#month {
    color: gray;
    text-align: left;
    padding: 8px 16px;
}

.sold-out {
    background-color: red;
    color: white;
    padding: 5px;
    margin: 15px;
}

.number {
    padding: 5px;
    float: right;
    background-color: black;
    color: white;
    border-radius: 50%;
    object-fit: cover;
}

.gray {
    color: gray;
}

button {
    margin-bottom: 16px;
    margin-left: 16px;
    background-color: black;
    color: white;
    padding: 12px;
    transition: all 0.5s linear;
    border: none;
}

button:hover {
    background-color: gray;
    color: black;
}